# ------------------------------
# IDE and Python cache
# ------------------------------
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------------------
# Build artifacts for PyPI
# ------------------------------
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.whl

# ------------------------------
# Virtual environments
# ------------------------------
.venv/
venv/
env/

# ------------------------------
# Jupyter & notebooks
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# Model files and temp results
# ------------------------------
*.pt
*.ckpt
*.h5
*.pkl
*.npy
*.npz
*.log

# ------------------------------
# Image, XML, and visual outputs
# ------------------------------
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.svg
*.xml

# ------------------------------
# Datasets and annotations (big)
# ------------------------------
examples/**/data/
examples/**/Full_Object_Detection_Graph_Modeling_YOLOv11_RetinaNet_TGraphX_files/
examples/Object_Detection/Full_Object_Detection_Graph_Modeling_YOLOv11_RetinaNet_TGraphX.md

# ------------------------------
# Git submodules or temp git folders
# ------------------------------
**/.git
